body {
    font-family: 'Poppins';
}

h1 {
    font-family: 'Playfair Display';
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 114px;
    height: 40px;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
    text-transform: uppercase;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

.nav-links .active {
    text-decoration: underline;
}
